#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
BUILD_DIR=debian/build-tree
INSTALL_DIR_RELATIVE=install-tree
INSTALL_DIR=debian/$(INSTALL_DIR_RELATIVE)
LSB_RELEASE := $(shell lsb_release -i -s)


all: build


install: all

%:
	dh $@ 
clean:
	rm -rf $(BUILD_DIR)/*
	rm -rf $(INSTALL_DIR)/*
	dh_clean

build: 
	set -ex 
	mkdir -p "$(BUILD_DIR)"
	cp -a `find . -maxdepth 1 -mindepth 1 -not -name debian` $(BUILD_DIR)
	dh_auto_build -D "$(BUILD_DIR)" -- -j`nproc`
	dh_auto_install -D "$(BUILD_DIR)" -- -j1 
	install -m 700 $(BUILD_DIR)/rum -D $(INSTALL_DIR)/usr/sbin/rum
	install -m 700 $(BUILD_DIR)/contrib/export_mariadb55_cdb.pl -D $(INSTALL_DIR)/root/bin/export_mariadb55_cdb.pl
	install -m 644 $(BUILD_DIR)/contrib/rum.defaults -D $(INSTALL_DIR)/etc/default/rum

override_dh_install-arch:
	cd debian && test -L tmp || ln -s $(INSTALL_DIR_RELATIVE) tmp
	dh_install -a --list-missing

