Package: rum
Version: 3.0
Architecture: amd64
Maintainer: Tomas Corej <tomas.corej@websupport.sk>
Installed-Size: 336
Depends: libc6 (>= 2.15), libcdb1
Section: web
Priority: extra
Homepage: http://oss.websupport.sk/rum/
Description: One process tcp redirector with socket file support and more listen ports/socket files, using libevent
  rum is one process tcp redirector with socket file support and more listen ports/socket files, using libevent
  It's also mysql reverse proxy for more mysql servers (the key to select destination server is username send by client) using
  cdb database.
